

.intro {
  display: block;
  border: double;
}

body {
  background-color: white;
  text-align: center;
  font-family: Tahoma, Verdana, Helvetica, Sans-serif;

}

h1 {
  font-family: Tahoma, Verdana, Helvetica, Sans-serif;
  color: black;
  margin: auto;
}

h3 {
  
  margin: auto;
}

img {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.skills {
  
}

.quote {
  font-family: Apple Chancery, Cursive;
  font-size: 14px;
  width: 100%;
  margin-bottom: 1px;
}


/* Style the tab buttons */
.tablink {
  background-color: #d0cbcb;
  color: rgb(0, 0, 0);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 14px;
  font-size: 17px;
  width: 25%;
  margin: auto;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #d9c9c9;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

.tablink a {
  text-decoration: none;
}

.contact-section {
  border: 1px solid  rgb(174, 108, 123);
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}